.search-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.search-popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 999;
  border: 1px solid #ddd;
}
.search-input-box {
  cursor: pointer;
}
.bg-search {
  background-color: #f8f9fa;
}
.mtt{
  margin-top: -42px;
}
.ll{
  margin-left: 48px;
}
.z-200{
  position: absolute;
  z-index: 1000;
}