body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-md{
  font-size: 1.08em;
}
.bg-search{
  background-color: rgb(238, 238, 238);
}
.bbb:focus{
  border : none;
  outline: none;
}
.m-i-s{
  margin-top: -5px;
}
.mt-100{
  margin-top: 0px;
}

.top-bar {
  background-color: #1a1a1a;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  position: relative; /* مهم: دیگه فیکس نیست */
  width: 100%;
}

/* Lower header در حالت عادی */
.lower-header.static {
  position: relative;
  width: 100%;
  background-color: white;
  box-shadow: none;
}

/* در اسکرول بالا، فیکس و چسبیده بالا */
.lower-header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 997;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* مخفی شدن هنگام اسکرول به پایین */
.lower-header.hidden {
  transform: translateY(-100%);
}

/* ظاهر شدن هنگام اسکرول به بالا */
.lower-header.visible {
  transform: translateY(0);
}


.category-section {
  background: #fff;
  padding-bottom: 1rem;
  /* border-bottom: .5px solid #ddd; */
}

/* Tabs */
.category-tabs {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 1.5rem 0.5rem;
  border-bottom: 2px solid #eee;
}
.bord-b{
  border-bottom: 2px solid #eee;
}

.tab-button {
  background: none;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  color: #767676;
  position: relative;
}
.tab-button:hover{
  color: #000;
}

.tab-button.active {
  color: #000;
}

.tab-button.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background: #0067bc;
}

/* Category slider (همون قبل) */
.category-slider-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem 1.5rem;
}

.category-slider {
  display: flex;
  gap: 2rem;
}

.category-item {
  text-align: center;
  min-width: 80px;
  cursor: pointer;
  transition: transform 0.2s;
  ;
}

.img-cat-cont{
display: flex;
flex-direction: column;
align-items: center;

}

.img-cat {
  height: 80px;
  margin-bottom: 0.5rem;
  text-align: center;

  
}

.category-item:hover {
  transform: scale(1.05);
}

.category-item span {
  font-size: 0.85rem;
  color: #333;
}

.category-tabs::-webkit-scrollbar {
  height: 4px;  /* افقی */
  background: scroll;
}

.category-tabs::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 20px;
}

.category-tabs::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.ht:hover{
  text-decoration: underline;
}
.bg-mg-1{
  background-image: url('./imgs/ph1.avif');
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.bg-mg-2{
  background-image: url('./imgs/ph2.webp');
  background-size: contain;
background-position: center;
background-repeat: no-repeat;

}
.bg-mg-3{
  background-image: url('./imgs/ph3.avif');
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.bg-orng{
  background-color: rgb(204, 76, 0);
}
.text-orng{
  color: rgb(204, 76, 0);
}
.new{
  display: flex;
  font-size: smaller;
  border-radius: 0px;
  padding: 4px 10px;
  margin: 30px 10px;
  width: 48px;
  
}

.zoom-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-size 0.5s ease;
}

.zoom-bg:hover {
  background-size: 110%;
}
.zoomed-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 225%;
  transition: background-size 0.5s ease;
}
.zoomed-bg:hover {
  background-size: 145%;
}
.zoom-bg:hover .ppa{
  text-decoration: underline;
}
.zoomed-bg:hover .ppa{
  text-decoration: underline;
}

.card {
  width: 200px;
  height: 100px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

/* پنهان کردن انیمیشن پیش‌فرض */
.arrow {
  display: inline-block;
}

/* وقتی .card هاور بشه، انیمیشن اجرا بشه روی .arrow */
.zoom-bg:hover .arrow {
  animation: fly-around 0.6s ease;
}
.zoomed-bg:hover .arrow {
  animation: fly-around 0.6s ease;
}

/* انیمیشن رفت و برگشت */
@keyframes fly-around {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(20px);
    opacity: 0;
  }
  51% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.py-2-5{
  padding: 13px 0;
}

.clmn{
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.clmnn{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.w-20{
  width: 50px;
}
.text-size{
  border-radius: 20px;
  font-size: 30px;
}
.ttt{
  top: 60px;
}
.w-ss{
  width: 130px;
  margin-bottom: -21px;
  margin-left: 25px;
}
.roundedd-l{
  border-top-left-radius:15px ;
  border-bottom-left-radius:15px;
}
.roundedd-r{
  border-top-right-radius:15px ;
  border-bottom-right-radius:15px;
}
.btn-pop{
  border: 1px solid #3c3c3c;
  border-radius: 20px;
  background-color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 10px;
}
.btn-pop:hover{
  outline: 2px solid #000;
}
.pr{
  padding-right: 8px;
}
.bottom-0{
  margin-top: 115px;
  padding-top: 30px;
  border-top: 1px solid #9e9e9e;
}
.bt-112:hover{
  outline: 2px solid #000000;
}
.bt-113:hover{
  outline: 2px solid #767676;
}
.tt-h:hover{
  color: #000;
}

.borderr-1{
  margin-top: 390px;
  padding-top: 30px;
  border-top: 1px solid #9e9e9e;
}
.search-h:hover{
  background-color: #d9d9d9;
}
.log-h:hover{
  background-color: #e3e3e3;
  border-radius: 25px;
  padding: 6px 14px
  
}
.icon-h:hover{
  background-color: #e3e3e3;
  border-radius: 25px;
  padding: 6px 6px
  
}
.m-r{
  margin-right: 78px;
}
.b-b{
  border-bottom: 1px solid #868686;
}
.det{
  display: block;
  padding: 5px 10px;
  margin: 5px 40px;
 
}
.mtat{
  margin-top: 190px;
}
.ertefa{
  min-height: 650px;
}







/* dashbord */
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.login-container, .dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

/* .header {
  background-color: #6200ea;
  color: #fff;
  padding: 15px;
  text-align: center;
} */
.block{
  display: block;
}
.custom-link{
  text-decoration: none;
  color: #333;
}
.border-none{
  border: none;
}

/* .h-sidebar-item:hover{
  background-color: blue;
  transition: background-color 0.3s ease-in-out;
  padding: 10px;
  border-radius: 10px;
} */
/* .custom-link:hover{
  color: #fff;
} */
.bg-wig{
  background-color: #f1f1f1;
}
.border-b{
  border-bottom: 1px solid #333;
}
.bg-orange{
  background-color: orange;
}
.text-orange{
  color: orange;
  
}
.icon-h:hover{
  color: blue;
}
.border-b{
  border-bottom: 1px solid #cecece;
}
.w-35{
  width: 35%;
}
.w-25{
  width: 25%;
}
.p-clear{
  padding: 0;
  margin: 0;
}
.bg-banafsh{
  background-color: rgb(0, 179, 255);
  font-size: 25px;
}
.i-blue{
  color: blue;
}

.decoration-vip{
  text-decoration: line-through;
}
.no-border:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.no-border{
  outline: none;
  box-shadow: none;
  border: none;
}
.bg-prp{
  background-color: #9900d5;
}
.c-s tbody tr:nth-child(odd){
  background-color: #f1f1f1;
}
.c-s tbody tr:nth-child(even){
  background-color: #e0b3ff;
}
.bg-log{
  background-image: url('./imgs/dashbord/log.png');
  background-size: cover;
  background-repeat: no-repeat;

}
.bg-chgh{
  background-color: #005187;
}
.logh{
  border-bottom: 2px solid #c4ccff;
  border-bottom-right-radius: 20px;
  border-top:  2px solid #000a4c;
  border-top-left-radius: 20px;
}
.inp{
  border: 0;
  outline: none;
  width: 90%;
  border-bottom: 2px solid #c4ccff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #000a4c00;
  color: white;
  
}
.bg-p1{
  background-color: #c4caff;
}
.text-sp{
  color: #000a4c;
}

.ml{
  margin-left: 10px;
}

@media (min-width: 1000px) {
  .ml{
    margin-left: 250px;
  }
}
/* //////////////////////////////////////////// */